.background-container {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-image: url('../images/landing-page-background-opacity50.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.landingpage-container {
    padding-top: 20%;
}

.enter-button {
    margin-top: 5%;
}

.enter-link, .enter-link:visited, .enter-link:hover{
    color: whitesmoke;
    text-decoration: none;
}

