.new-recipe-background {
    background-color: tomato;
    height: 100vh;
    text-align: center;
}

#home {
    margin: 75px;
    padding: 40px 30px;
    width: 50em;
    align-content: center; 
}

.new-recipe-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
