body{
    background-color: tomato;
    text-align: center;
}

#home{
    background-color: whitesmoke;
    margin: 75px;
    padding: 50px;
    width: 50em;
    align-content: center;
    border-radius: 6px;
    
}

#cookInput .form-control{
    margin: 5px;
}