.main-card {
    text-align: center;
    width: 18rem;
    margin: 21px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    transition: box-shadow 500ms;
}

.main-card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
}

.recipe-image {
    height: 200px;
}